apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
    name: blockscore-psp
spec:
    privileged: false
    allowPrivilegeEscalation: false
    requiredDropCapabilities:
        - ALL
    volumes:
        - 'configMap'
        - 'emptyDir'
        - 'projected'
        - 'secret'
        - 'downwardAPI'
        - 'persistentVolumeClaim'
    hostNetwork: false
    hostIPC: false
    hostPID: false
    runAsUser:
        rule: 'MustRunAsNonRoot'
    supplementalGroups:
        rule: 'MustRunAs'
        ranges:
            - min: 1
              max: 65535
    fsGroup:
        rule: 'MustRunAs'
        ranges:
            - min: 1
              max: 65535
    readOnlyRootFilesystem: false
    seLinux:
        rule: 'RunAsAny'
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: blockscore-psp-user
rules:
    - apiGroups: ['policy']
      resources: ['podsecuritypolicies']
      verbs: ['use']
      resourceNames:
          - blockscore-psp
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    name: blockscore-psp-binding
roleRef:
    kind: ClusterRole
    name: blockscore-psp-user
    apiGroup: rbac.authorization.k8s.io
subjects:
    - kind: ServiceAccount
      name: default
      namespace: default
    - kind: ServiceAccount
      name: blockscore-service-account
      namespace: default
